<dominitian-reg-log-header-widget [regLogCustomContent]="registrationContent" pageTitle='Registration'
    slogan='Create a new account'></dominitian-reg-log-header-widget>
<ng-template #registrationContent>
    <form [formGroup]="registrationFormGroup" (ngSubmit)="onSubmit()">

        <app-text-input-titled [titDto]="this.emailCntrlInput"></app-text-input-titled>

        <br><br>

        <div formGroupName="passwordFormGroup" class="row">
            
            <app-text-input-titled [titDto]="this.pswdCntrlInput"></app-text-input-titled>

            <app-text-input-titled [titDto]="this.cnfrmPswdCntrlInput"></app-text-input-titled>

            <!-- <div id="confirm-password-row" class="row form-floating password-row">
                <input type="password" 
                id="{{this.cnfrmPswdCntrlName}}" 
                class="form-control"
                formControlName="{{this.cnfrmPswdCntrlName}}" 
                data-toggle="tooltip"
                [class.is-invalid]="this.cnfrmErrMsg"
                (focus)="this.onFocus($event)" 
                (blur)="this.onBlur($event)">
                <label for="{{this.cnfrmPswdCntrlName}}" class="form-label">*Confirm Password</label>
                <div *ngIf="this.cnfrmErrMsg" class="val-error-msg">{{this.cnfrmErrMsg}}
                </div>
            </div> -->

        </div>

        <br><br>

        <div class="row">
            <div class="col-sm-2"></div>
            <button type="submit" [disabled]="registrationFormGroup.invalid"
                class="btn btn-primary col-sm-8 ms-3">Create Account</button>
            <div class="col-sm-2"></div>
        </div>

    </form>
</ng-template>