<h4 class="fw-bold">Change password</h4>
<p class="fs-5">Fill in your new password</p>

<form [formGroup]="forgotPasswordGroup" (ngSubmit)="onSubmit()">
  <div class="row form-floating">
    <input
      type="text"
      id="{{ this.emailControlName }}"
      class="form-control"
      formControlName="{{ this.emailControlName }}"
      [class.is-invalid]="!!this.emailErrMsg"
      (focus)="this.onFocus($event)"
      (blur)="this.onBlur($event)"
    />
    <label for="{{ this.emailControlName }}" class="form-label">*Email</label>
    <div *ngIf="!!this.emailErrMsg" class="val-error-msg">
      {{ this.emailErrMsg }}
    </div>
  </div>

  <br /><br />

  <div class="row">
    <div class="col-sm-2"></div>
    <button
      type="submit"
      [disabled]="
        this.forgotPasswordGroup.invalid ||
        this.forgotPasswordGroup.get(this.emailControlName)?.pristine
      "
      class="btn btn-primary col-sm-8 ms-3"
    >
      Change password
    </button>
    <div class="col-sm-2"></div>
  </div>
</form>
