.label {
    font-size: 12px;
    font-weight: bold;
}

.btn.btn-primary {
    height: 3em;
    border-radius: 2em;
    margin-bottom: 4%;
}

input {
    border-radius: 2em;
    color: rgb(152, 152, 152);
    height: 3em;
}