<h4 class="fw-bold">Change password</h4>
<br />
<p class="fs-5">Fill in your new password</p>

<form [formGroup]="forgotPasswordGroup" (ngSubmit)="onSubmit()">
  <div class="row form-floating">
    <input
      type="text"
      id="email"
      class="form-control"
      formControlName="email"
      [appChangePlaceholderOnBlurFocus]="this.placeholder"
      [class.is-invalid]="!!this.emailErrMsg"
    />
    <label for="email" class="form-label">*Email</label>
    <div *ngIf="!!this.emailErrMsg" class="val-error-msg">
      {{ this.emailErrMsg }}
    </div>
  </div>

  <br /><br />

  <div class="row">
    <div class="col-sm-2"></div>
    <button
      type="submit"
      [disabled]="
        this.forgotPasswordGroup.invalid ||
        this.forgotPasswordGroup.get('email')?.pristine
      "
      class="btn btn-primary col-sm-8 ms-3"
    >
      Reset password
    </button>
    <div class="col-sm-2"></div>
  </div>
</form>
