<dominitian-reg-log-header-widget [regLogCustomContent]="changePassword" pageTitle='Change Password'
    slogan='The new password will be sent to the email below.'></dominitian-reg-log-header-widget>
<ng-template #changePassword>

    <form [formGroup]="forgotPasswordGroup" (ngSubmit)="onSubmit()">

        <!-- <app-text-input-titled [titDto]="this.emailCntrlInput"></app-text-input-titled> -->

        <!-- <div class="row form-floating">
            <input type="text" 
            id="{{this.emailControlName}}" 
            class="form-control"
            formControlName="{{this.emailControlName}}"
            [class.is-invalid]="this.isControlInvalid(this.emailControlName)" 
            (focus)="this.onFocus($event)"
            (blur)="this.onBlur($event)">
            <label for="{{this.emailControlName}}" class="form-label">*Email</label>
        </div> -->

        <br><br>

        <div class="row">
            <div class="col-sm-2"></div>
            <button type="submit"
                [disabled]="this.forgotPasswordGroup.invalid || this.forgotPasswordGroup.get(this.emailControlName)?.pristine"
                class="btn btn-primary col-sm-8 ms-3">Change password</button>
            <div class="col-sm-2"></div>
        </div>
    </form>

</ng-template>