<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Apm</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
  <!-- <nav class='navbar navbar-expand navbar-light bg-light'>
    <a class='navbar-brand'>{{pageTitle}}</a>
    <ul class='nav nav-pills'>
      <li><a class='nav-link'
           routerLink='/welcome'>Home</a></li>
      <li><a class='nav-link'
           routerLink='/products'>Products</a></li>
      <li><a class="nav-link"
           routerLink='/Login'>Login</a></li>
    </ul> -->
  <!-- </nav> -->
  <router-outlet></router-outlet>
</body>

</html>