<div class="container-fluid">
    <div class="container">
        <div class="not-found-container">
            <div class="card text-center">
                <img src="../../../../../assets/221551-P17I55-80.jpg" class="card-img-top" alt="Page not found">
                <div class="card-header">
                    <h1>404</h1>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Page Not Found</h5>
                    <p class="card-text">The page you are looking for might have been removed, had its name changed, or is
                        temporarily unavailable.</p>
                    <div>
                        <button [routerLink]="['/registration']" routerLinkActive="active-page" ariaCurrentWhenActive="page"
                            class="btn btn-link ms-3">Go back</button>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    © 2024 Your Company
                </div>
            </div>
        </div>
    </div>
</div>