<div id="{{this.titDto.id}}" class="row form-floating" [ngClass]="this.titDto.containerClasses">
    <input type="{{this.titDto.inputType}}" 
    id="{{this.titDto.formCntrlName}}" 
    class="form-control"
    data-toggle="tooltip"
    [formControlName] = this.titDto.formCntrlName
    [class.is-invalid]="!!this.titDto.cntrlErrMsg" 
    (focus)="this.titDto.events.onFocus($event)"
    (blur)="this.titDto.events.onBlur($event)">
    <label for="{{this.titDto.formCntrlName}}" class="form-label">*{{this.titDto.title}}</label>
    <div *ngIf="!!this.titDto.cntrlErrMsg" class="val-error-msg">{{this.titDto.cntrlErrMsg}}
    </div>
</div>
