<h4 class="fw-bold title">Login</h4>
<p class="fs-5">Home of the discount products</p>

<form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
  <div id="email-row" class="row form-floating">
    <input
      type="text"
      id="email"
      class="form-control"
      data-toggle="tooltip"
      formControlName="email"
      [appChangePlaceholderOnBlurFocus]="this.placeholder"
      [class.is-invalid]="!!this.loginService.mailError()"
    />
    <label for="email" class="form-label">*Email</label>
    <div *ngIf="!!this.loginService.mailError()" class="val-error-msg">
      {{ this.loginService.mailError() }}
    </div>
  </div>

  <br />

  <div id="password-row" class="row form-floating">
    <input
      type="password"
      id="password"
      class="form-control"
      data-toggle="tooltip"
      formControlName="password"
      [class.is-invalid]="!!this.loginService.passwordError()"
      (blur)="this.onBlur()"
    />
    <label for="password" class="form-label">*Password</label>
    <div *ngIf="!!this.loginService.passwordError()" class="val-error-msg">
      {{ this.loginService.passwordError() }}
    </div>
  </div>

  <br /><br />

  <div class="row">
    <div class="col-sm-6 container">
      <div class="container flex-child">
        <input
          type="checkbox"
          id="{{ this.rmeCntrlName }}"
          class="flex-child"
          formControlName="{{ this.rmeCntrlName }}"
        />
        <label for="{{ this.rmeCntrlName }}" class="form-label flex-child"
          >Remember me</label
        >
      </div>
    </div>
    <button
      [routerLink]="['../', ROUTER_TOKENS.FORGOT_PASS]"
      class="btn btn-link col-sm-6 flex-child"
    >
      Forgot password?
    </button>
  </div>

  <br /><br />

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <button
        type="submit"
        [disabled]="loginFormGroup.invalid"
        class="btn btn-primary"
      >
        Login
      </button>
      <div class="row" *ngIf="this.loginService.loginError()">
        <p class="val-error-msg">{{ this.loginService.loginError() }}</p>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>

  <div class="row">
    <div class="container">
      <label class="flex-child">Not registered yet?</label>
      <button
        [routerLink]="['../', ROUTER_TOKENS.REGISTRATION]"
        class="btn btn-link ms-3 flex-child"
      >
        Create an Account
      </button>
    </div>
  </div>
</form>
