<h4 class="fw-bold">Login</h4>
<br />
<p class="fs-5">Home of the discount products</p>

<form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
  <div id="email-row" class="row form-floating">
    <input
      type="text"
      id="email"
      class="form-control"
      data-toggle="tooltip"
      formControlName="email"
      [appChangePlaceholderOnBlurFocus]="this.placeholder"
      [class.is-invalid]="!!this.emailErrMsg"
    />
    <label for="email" class="form-label">*Email</label>
    <div *ngIf="!!this.emailErrMsg" class="val-error-msg">
      {{ this.emailErrMsg }}
    </div>
  </div>

  <br /><br />

  <div id="password-row" class="row form-floating">
    <input
      type="password"
      id="password"
      class="form-control"
      data-toggle="tooltip"
      formControlName="password"
      [class.is-invalid]="!!this.pswdErrMsg"
      (blur)="this.onBlur()"
    />
    <label for="password" class="form-label">*Password</label>
    <div *ngIf="!!this.pswdErrMsg" class="val-error-msg">
      {{ this.pswdErrMsg }}
    </div>
  </div>

  <br /><br />

  <div class="row">
    <div class="col-sm-6">
      <input
        type="checkbox"
        id="{{ this.rmeCntrlName }}"
        formControlName="{{ this.rmeCntrlName }}"
      />
      <label for="{{ this.rmeCntrlName }}" class="form-label"
        >Remember me</label
      >
    </div>
    <button
      [routerLink]="['../', ROUTER_TOKENS.FORGOT_PASS]"
      class="btn btn-link col-sm-6"
    >
      Forgot password?
    </button>
  </div>

  <br /><br />

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <button
        type="submit"
        [disabled]="loginFormGroup.invalid"
        class="btn btn-primary"
      >
        Login
      </button>
      <div class="row" *ngIf="this.loginErrMsg">
        <p class="val-error-msg">{{ this.loginErrMsg }}</p>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>

  <div class="row">
    <div>
      <label>Not registered yet?</label>
      <button
        [routerLink]="['../', ROUTER_TOKENS.REGISTRATION]"
        class="btn btn-link ms-3"
      >
        Create an Account
      </button>
    </div>
  </div>
</form>
