@import "src/assets/styles/text-input.css";

#rememberMe {
  width: 1.5em;
  height: 1.5em;
  margin-right: 5%;
}

#remember-me-label {
  white-space: nowrap;
}

.container {
  display: flex;
  justify-content: space-between;
}

.flex-child {
  margin: auto;
}

.remember-me-container {
  display: flex;
}

.remember-me-child {
  margin: auto;
}

.btn.btn-link {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.btn.btn-primary {
  height: 3em;
  border-radius: 2em;
  margin-bottom: 4%;
  width: 100%;
  display: block;
}
p {
  margin-top: 5%;
  margin-bottom: 10%;
}
